{% extends "carehome/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="m-0">Sign Up</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success w-100">Create Account</button>
                    </form>
                    <hr>
                    <p class="text-center small mb-0">
                        Already have an account? <a href="{% url 'account_login' %}">Login here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
