{% extends "carehome/base.html" %}
{% block content %}

<div class="container mt-5">
  <div class="card shadow p-4 rounded-4">

    <h3 class="mb-4">Add Resident</h3>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% for field in form %}
      <div class="mb-3">
        <label class="form-label">{{ field.label }}</label>
        {{ field }}
        {% if field.help_text %}
          <small class="text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
      {% endfor %}

      <div class="d-flex gap-3">
        <button type="submit" class="btn btn-primary">
          Save Resident
        </button>

        <a href="{% url 'residents_list' %}" class="btn btn-secondary">
          Cancel
        </a>
      </div>
    </form>

  </div>
</div>

{% endblock %}
